.card {
  gap: var(--space-small);
}

.category {
  text-align: center;
  text-decoration: underline;
}

.cardHeader {
  justify-content: space-between;
  align-items: center;
  gap: var(--space-normal);
  background-color: var(--color-primary-light);
  padding: var(--space-small);
  border: 3px solid var(--color-gray-900);
  border-radius: 10px;
  box-shadow: 3px 6px 10px var(--color-gray-900);
}

.toggleButtonContainer {
  align-self: center;
}

.toggleButton {
  display: flex;
  justify-content: center;
}

.toggleButton,
.expandButton {
  width: 100px;
}

.expandButton {
  align-self: flex-end;
  margin-right: 8px;
  font-size: 1rem;
}

.carouselWrapper {
  position: relative;
  width: 100%;
}

.navButton {
  position: absolute;
  top: 30%;
  display: none;
}

.left { left: 10px; }
.right { right: 10px; }

.itemCardGroup {
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  gap: var(--space-normal);
  padding-bottom: var(--space-small);
  padding-right: var(--space-small);
}

.itemCardGroup > * {
  scroll-snap-align: start;
}

@media (min-width: 1024px) {
  .card {
    gap: var(--space-large);
  }

  .carouselWrapper:hover .navButton {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .itemCardGroup {
    gap: var(--space-large);
  }
}