.card {
  gap: var(--space-small);
}

.category {
  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
}

.cardHeader {
  justify-content: space-between;
  gap: var(--space-normal);
  background-color: var(--color-primary-light);
  padding: var(--space-small);
  border: 2px solid var(--color-gray-900);
  border-radius: 10px;
}

.toggleButtonContainer {
  align-self: center;
}

.toggleButton {
  display: flex;
  justify-content: center;
}

.toggleButton,
.expandButton {
  width: 100px;
}

.expandButton {
  align-self: flex-end;
}

.itemCardGroup {
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  gap: var(--space-normal);
}

@media (min-width: 1024px) {
  .card {
    gap: var(--space-large);
  }

  .itemCardGroup {
    gap: var(--space-large);
    padding-bottom: var(--space-small);
  }
}