.nav {
  padding: 16px;
  background-color: #123456;
}

.logo {
  width: 200px;
  height: auto;
  aspect-ratio: 2 / 1;
}

.ul {
  gap: 16px;
}

.link {
  display: flex;
  align-items: center;
  font-size: 1.66rem;
}

.link a {
  color: white;
}

.lastLink {
  margin-left: auto;
}