.socials img {
  width: 40px;
  height: auto;
  aspect-ratio: 1 / 1;
}

.socials img:hover {
  outline: 2px solid var(--color-focus);
  outline-offset: -2px;
  border-radius: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer p {
  font-size: 1.5rem;
}

ul {
  gap: 1rem;
}