header {
  grid-area: header;
  background-color: var(--color-gray-100)
}

main {
  grid-area: main;
  background-color: var(--color-gray-100);
  padding: var(--space-small);
  min-width: 0;
}

footer {
  grid-area: footer;
  background-color: var(--color-primary-light);
}

.app-container {
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr 52px;
  min-height: 100vh;
  background-color: rgba(242, 240, 240, 1);
}