* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Sizes */
  --space-xs: 4px;
  --space-small: 8px;
  --space-normal: 16px;
  --space-large: 24px;
  --space-xl: 32px;

  /* Brand Colors */
  /* --color-primary: #0b8022; */
  --color-primary-light: #1b8530;
  --color-primary-dark: #0b3814;

  /* Outline */
  --color-focus: #e9ecf1;
  --color-focus-light: #0fc2bc;
  /* #0fc233 */

  /* Neutrals */
  --color-white: #ffffff;
  --color-gray-100: rgba(242, 240, 240, 1);
  --color-gray-200: #9e9b9b;
  --color-gray-300: #5d5c5c;
  --color-gray-800: #181818;
  --color-gray-900: rgb(3, 26, 1);

  /* Buttons */
  --color-add: #e77612;
  --color-rem: #b11605;
  --color-inc: #8ef0a2;
  --color-dec: #e11a04;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  font-size: 1.1rem;
}

h1 {
  font-size: 2.5rem;
}

input,
button {
  font-size: 1rem;
}

hr {
  border-top: 3px solid black;
  border-radius: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
.miniShoppingCard:hover {
  outline: 2px solid var(--color-focus);
  border-radius: 8px;
}

input:focus,
button:focus {
  outline: 4px solid var(--color-focus-light);
  outline-offset: -4px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.inline-flex-row {
  display: inline-flex;
  flex-direction: row;
}

.inline-flex-column {
  display: inline-flex;
  flex-direction: column;
}